{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        {% for image in images %}
            <a href="{{ MEDIA_URL }}images/{{ image }}" class="image">
            <img src="{{ MEDIA_URL }}images/{{ image }}" alt="{{ image }}">
            </a>
        {% empty %}
            <p>No image available.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block extra_js %}
    <script type='text/javascript'>
        $(document).ready(function(){
            $('.image').on('click', function(e) {
                $(this).toggleClass('fullSize');
            });
{% endblock extra_js %}
