{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-body">

        <dl class="dl-horizontal">
          <dt>When</dt>
          <dd>August 8, 2020</dd>

          <dt>Where</dt>
          <dd>Iron & Ember</dd>
          <dd><a href="https://www.google.com/maps/place/12120+Brookshire+Pkwy,+Carmel,+IN+46033/data=!4m2!3m1!1s0x8814ad87a74e1ebb:0x39aadbe723867cf?sa=X&amp;ved=2ahUKEwjRtbaP15rmAhUHmuAKHU1bBAQQ8gEwAHoECAsQAQ" target="_blank">12120 Brookshire Pkwy, Carmel, IN</a></dd>

          <dt>Time</dt>
          <dd>5:30PM</dd>

          <dt>Dress Code</dt>
          <dd>Semi-Formal</dd>

          <dt>Accomodations</dt>
          <dd><ul>
                <li>Hotel 1</li>
                <li>Hotel 2</li>
                <li>Hotel 3</li>
          </ul></dd>

          <dt>Things To Do</dt>
          <dd><ul>
                <li>Things to do 1</li>
                <li>Things to do 2</li>
                <li>Things to do 3</li>
          </ul></dd>
        </dl>
          
    </div>
</div>
{% endblock content %}
